/*The Skeletal of Design Choices*/
body {
  background-attachment: fixed;
  background-image: url("bg.webp");
  background-repeat: repeat;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
  margin: auto;
  max-width: 1280px;
}

/* Current/active navbar link */
.active {
  background-color: rgb(128, 32, 128);
  color: white;
}

/* Navigation Bar*/
.navbar {
  background-color: rgb(192, 32, 144);
  border-radius: 4px;
  max-width: 1920px;
  overflow: hidden;
}
/* Navigation Bar's Text*/
.navbar a {
  color: rgb(64, 0, 64);
  display: inline-block;
  font-size: 16px;
  padding: 10px;
  text-decoration: none;
}

/* Navigation Bar's Text When Hovered*/
.navbar a:hover {
  color: lavenderblush;
  text-decoration: none;
}
/* Navigation Bar's Hover Bar*/
.navbar-button {
  background-color: #c292e9;
  padding: 16px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
}

/* Navigation Bar's Hover Bar*/
.navbar-content {
  display: none;
  position: absolute;
  background-color: #fef9ff;
  min-width: 64px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
/* Navigation Bar's Hover Bar's Text*/
.navbar-content a {
  color: rgb(53, 2, 58);
  display: block;
  font-size: 16px;
  padding: 8px;
  text-decoration: none;
}

/* Unused Container for Images?*/
.container {
  display: inline-block;
  position: relative;
  width : 512px;
  height: 810px;
  
}

.table#lip {
  display: table;
  border-spacing: 4px;
  width: 100%;
}

/*-------------------------------------------------------------------------*/

/* Scrolling Notification Because Why Not (tm)*/
.scroll-left {
  background-color: rgba(0, 0, 0, 0.125);
  max-width: 1280px;
  height: 50px;	
  overflow: hidden;
  position: relative;
  border-radius: 2px;
}

.scroll-left p {
 position: absolute;
 width: 100%;
 height: 100%;
 margin: 0;
 line-height: 40px;
 text-align: center;
 /* Starting position */
 -moz-transform:translateX(100%);
 -webkit-transform:translateX(100%);	
 transform:translateX(100%);
 /* Apply animation to this element */	
 -moz-animation: scroll-left 5s linear infinite;
 -webkit-animation: scroll-left 5s linear infinite;
 animation: scroll-left 5s linear infinite;
}

/* Move it (define the animation) */
@-moz-keyframes scroll-left {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-100%); }
}

@-webkit-keyframes scroll-left {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
}

@keyframes scroll-left {
 0%   { 
 -moz-transform: translateX(100%); /* Browser bug fix */
 -webkit-transform: translateX(100%); /* Browser bug fix */
 transform: translateX(100%); 		
 }
 100% { 
 -moz-transform: translateX(-100%); /* Browser bug fix */
 -webkit-transform: translateX(-100%); /* Browser bug fix */
 transform: translateX(-100%); 
 }
}

/*-------------------------------------------------------------------------*/

/* Columns side by side */
.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 150px) {
  .column {
    width: 33.3%;
    display: block;
  }
}

/* Add some shadows to create a card effect */
.card {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

/* Some left and right padding inside the container */
.container {
    padding: 0 12px;
}

/* Clear floats */
.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}

